/* ---------- MISC. ----------*/

/* BACKGROUND COLOR DAY/NIGHT */
body.day {
    background-color: white;
    color: black;
}

body.night {
    background-color: black;
    color: white;
}



/* GRIDLINES */
.grid line {
    stroke: #ccc;
    stroke-opacity: 0.25;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}



/* AXES LABELS */
.axis-label {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    fill: currentColor;
}

.legend {
    font-family: sans-serif;
    font-size: 14px;
    fill: currentColor;
}



/* HEADERS */
h1, h3 {
    text-align: center;
}

h3 {
    color: #8f8f8f;
}

h2 {
    text-align: center;
}

h1, h2, h3, h4 {
    font-family: sans-serif;
}



/* ---------- CONTAINER FOR BUTTONS + SLIDER ---------- */
#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    box-sizing: border-box;
}

#dayToggle {
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    background: #AFEEEE;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
    flex-shrink: 0;
}

#dateSelector {
    display: flex;
    padding: 11px 28px;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
    font-variant-numeric: oldstyle-nums;
    color: black;
    border-radius: 8px;
    background: #AFEEEE;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
    align-items: flex-start;
    flex-wrap: wrap;
}

#dateSelector label {
    font-size: 14px;
}

#dateSlider {
    max-width: 200px;
    font-family: sans-serif;
    box-sizing: border-box;
}



/* ---------- MAP CONTAINER ---------- */
#mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

#mapContainer svg {
    width: 100%;
    height: auto;
    max-width: 1000px;
    display: block;
}



/* ---------- GRAPH CONTAINER ---------- */
#graphs {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

/* LEDT SIDE: KDE PLOT */
#kdePlot {
    width: 100%;
    max-width: 1000px; /* optional cap */
}

#kdePlot svg {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
}

/* RIGHT SIDE: LEGEND + MEANMEDIAN + STATS */
#rightPanel {
    display: flex;
    flex-direction: column;
    flex: 1 1 250px;
    max-width: 300px;
    gap: 15px;
}

#legendContainer,
#meanmedian,
#tooltipBar {
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.4);
    min-width: 200px;
    font-family: sans-serif;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}



/* ---------- NIGHTMODE SHADOWS + BACKGROUNDS ---------- */
.nightMode #dayToggle,
.nightMode #dateSelector,
.nightMode #mapContainer,
.nightMode #kdePlot svg,
.nightMode #legendContainer,
.nightMode #meanmedian,
.nightMode #tooltipBar {
    box-shadow: 0 0 8px 2px rgba(255,255,255,0.8);
}

.nightMode #dayToggle,
.nightMode #dateSelector {
    background: #395A71;
    color: #fff;
}